.blue-text {
  color: #267CB9;
}

a:hover,
a:focus {
  color: #069; /* Change the text color on hover and focus */
  font-weight: normal;
  text-decoration: underline;  /* Underline the link on hover and focus */
}

